# DO NOT use in production.
# Master configuration file for the QEMU driver.
# All settings described here are optional - if omitted, sensible
# defaults are used.

security_driver = [ "none" ]

#user = "root"
#group = "root"

user  = "{{ lookup('pipe', 'id -u') }}"
group = "{{ lookup('pipe', 'id -g') }}"

swtpm_user = "swtpm"
swtpm_group = "swtpm"
